
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		
	<style tpe="text/css">
		
		nav {
			background: lightgrey;
			color: steelblue;
		}
		
		ul.nav li a {
			margin-right: 10px;
			color: steelblue;
		}
		
		nav a {
			color: steelblue;
		}
		
		ul.nav li a:visited {
			margin-right: 10px;
			color: green;
		}
		
		.jumboH1 {
			color: steelblue;
		}
		
		.jumboH3 {
			color: steelblue;
		}
		
		.jumboH3Div {
			margin-top: 40px;
		}
		
		body {
			background: rgb(30,195,93);
			background: linear-gradient(90deg, rgba(30,195,93,1) 0%, rgba(34,191,147,1) 33%, rgba(0,212,255,1) 100%);
		}
		
		.btn1 {
			margin-top: 25px;
			width: 500px;
		}
		
		.btn2 {
			margin-top: 25px;
			width: 500px;
		}
		
		.btn1A {
			color: steelblue;
		}
		
		.btn1A:hover {
			color: steelblue;
		}
		
		.btn1A:visited {
			color: steelblue;
		}
		
		.btn2A {
			color: steelblue;
		}
		
		.bt21A:hover {
			color: steelblue;
		}
		
		.btn2A:visited {
			color: steelblue;
		}
		
		
	</style>
		
	</head>
		
	
	
	<body>
		
		<nav class="navbar navbar-expand-lg myNavbar">
  <a class="navbar-brand" href="#">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
	  </ul>

	  <ul class="nav navbar-nav navbar-right">
		  <% if(!currentUser){ %>
			  <li>
				  <a href="/register">Register</a>
			  </li>

			  <li>
				  <a href="/login">Login</a>
			  </li>
		  
		  <% } else { %>
		  
		  	  <li>
				  <a href="/logout">Logout</a>
			  </li>
		  <% } %>
	  </ul>
	</div>
</nav>
		
		<% if(successMessage && successMessage.length > 0) { %>
		<div class="alert alert-success">
			<%= successMessage %>
		</div>
		<% } %>
		
		<% if(errorMessage && errorMessage.length > 0) { %>
		<div class="alert alert-danger">
			<%= errorMessage %>
		</div>
		<% } %>
		
		
		
		<div class="jumbotron">
			<div class="d-flex justify-content-center">
				<h1 class="jumboH1">Welcome to YelpCamp!</h1>
			</div>
			<div class="jumboH3Div d-flex justify-content-center">
				<h3 class="jumboH3">Explore any of our Fantastic Campsites!</h3>
			</div>
		</div>
	
		
		<div class="d-flex justify-content-center">
			<button class="btn1 btn btn-warning">
				<a class="btn1A" href="/campgrounds">View Our Campgrounds</a>
			</button>
		</div>
		
		
		<div class="d-flex justify-content-center">
			<button class="btn2 btn btn-warning">
				<a class="btn2A" href="/PostCampsite">Upload Your Own Campground</a>
			</button>
		</div>

		
		

</body>

</html>	
		