<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		
		<style type="text/css">
			.myDiv1 {
			text-align: center;
			color: steelblue;
				height: 100px;
				margin-top: 50px;
				margin-bottom: 50px;
			}
			
			.h1-1 {
			}
			
			.form1 {
				text-align: center;
			}
		
			.submitButton {
				background: lime;
				color: turquoise;
				border: none;
			}
			
			input {
				border: turquoise 2px solid;
				color: steelblue;
			}
					
		nav {
			background: lightgrey;
			color: steelblue;
		}
			
			.row {
				margin: 0 auto;
			}
			
		
			.FormStyleDiv {
				width: 30%;
			}
			
			.mySubmitButton {
				width: 100%;
				height: 50px;
			}
			
			.nav-li {
				margin-left: 7px;
				margin-right: 7px;
			}
		
			input {
				text-align: center;
			}
			
			ul.nav li a {
				margin-right: 10px;
				color: steelblue;
			}
		
			nav a {
				color: steelblue;
			}
		
			ul.nav li a:visited {
				margin-right: 10px;
				color: green;
			}
			
		</style>
		
	</head>
	
	<body>
		
			<nav class="navbar navbar-expand-lg myNavbar">
  <a class="navbar-brand" href="#">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
				
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
	  </ul>
	    
	  
	  
	  <ul class="nav navbar-nav navbar-right">
		  <% if(!currentUser){ %>
			  <li>
				  <a href="/register">Register</a>
			  </li>

			  <li>
				  <a href="/login">Login</a>
			  </li>
		  
		  <% } else { %>
		  
		  	  <li>
				  <a href="/logout">Logout</a>
			  </li>
		  <% } %>
	 </ul>
</div>
</nav>
		
		
		
	
		<div class="myDiv1">
			<h1 class="h1-1">
				Edit Comment
			</h1>
		</div>

		<div class="row justify-content-center">
			
			<div class="FormStyleDiv">
	
	
				<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=PUT"  method="POST">
					<div class="form-group form-control-lg">
						<input class="form-control" type="text" name="comment[comment]" value="<%=comment.comment%>">
					</div>
					<div class="form-group form-control-lg">
						<button class="btn btn-success mySubmitButton">Submit</button>
					</div>
				</form>
	
			</div>
			
		</div>
			
	
	</body>

</html>	