.caption-full {
	margin-top: 20px;
}

.imgThumb2 {
	margin-top: 50px;
	background: lightgray;
}

.author-p {
	margin-bottom: 0px;
}

.text-p {
	margin-bottom: 20px;
}


.hr {
	margin-top: 100px;
}

.postBtn {
	margin-top: 20px;
}

.captionFull2 {
	margin-left: 20px;
}

.captionFull1 {
	margin-left: 20px;
	margin-right: 20px;
}

.campLink {
	color: steelblue
}

.des-text {
	margin-top: 40px;
}